body {
  text-align: center;
  background: linear-gradient(135deg, #141E30, #243B55);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #DBEDF3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 5rem;
  color: #ff4b2b;
  font-family: "Arvo", cursive;
  text-shadow: 4px 4px 20px rgba(218, 4, 99, 0.8), 
               -2px -2px 10px rgba(0, 0, 0, 0.5);
  margin-top: 60px;
  letter-spacing: 3px;
  animation: pulse 2s infinite;
}

footer {
  color: #DBEDF3;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1px;
  background: rgba(255, 255, 255, 0.05);
  padding: 15px 0;
  backdrop-filter: blur(6px);
  box-shadow: 0 -3px 10px rgba(0,0,0,0.5);
  border-top: 1px solid rgba(55, 29, 220, 0.2);
}


.c {
  background-image: url("images/crash.png");
  background-size: 100% 100%;
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat;
  color: goldenrod;
}

.t {
background-image: url("images/kick.png");
  background-size: 100% 100%;
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat;
  color:#ff4b2b;
}

.s {
background-image: url("images/snare.png");
  background-size: 100% 100%;
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat;
}

.d {
background-image: url("images/tom1.png");
  background-size: 100% 100%;
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat;
}

.j {
background-image: url("images/tom2.png");
  background-size: 100% 100%;
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat;
}

.k {
background-image: url("images/tom3.png");
  background-size: 100% 100%;
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat;
}

.l {
background-image: url("images/tom4.png");
  background-size: 100% 100%;
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
